@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;300;400&display=swap');

:root {
  --color-1: #fff;
  --color-2: #002456;
  --color-3: rgb(230, 230, 230);
  --color-4: rgb(0, 59, 141);
  --color-5: rgb(230, 4, 4);
  --color-6: rgb(199, 110, 0);
}
* {
  margin: 0;
  padding: 0;
  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}

body {
  font-family: 'Barlow', Helvetica, sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.45;
}
h1,
h2,
h3,
h4,
p {
  font-size: unset;
  font-weight: unset;
  margin-block-start: 0;
  margin-block-end: 0;
}
ul, ol {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}
input,
button {
  font-family: 'Barlow', Helvetica, sans-serif;
  font-size: .8rem;
}

.btn {
  appearance: none;
  border: 0;
  cursor: pointer;
  font-size: .9rem;
  text-decoration: none;
  font-weight: 300;
  color: var(--color-3);
  background-color: var(--color-4);
  padding: .2rem .6rem;
  text-align: center;
  
  &--danger {
    background-color: var(--color-5);
  }

  &--warning {
    background-color: var(--color-6);
  }
}

.table {
  width: 100%;
  input {
    width: 100%;
    padding: .2rem;
  }
  .editable {
    input {
      background-color: transparent;
      border-color: transparent;
    }
  }
  thead {
    th {
      background-color: rgb(36, 36, 36);
      color: #fff;
    }
  }
  tbody {
    tr {
      &:nth-of-type(odd) {
        background-color: rgb(216, 216, 216);
      }
      &:nth-of-type(even) {
        background-color: rgb(230, 228, 228);
      }
      &:last-of-type {
        td {
          padding: .3rem .25rem;
        }
      }
    }
  }
  th {
    text-align: left;
    font-size: 1rem;
    font-weight: 400;
    padding: .15rem .25rem;
  }
  td {
    font-size: .9rem;
    padding: .15rem .25rem;
  }
}

.main {
  &__title {
    font-size: 1.5rem;
    border-bottom: 1px solid var(--color-2);
    padding-bottom: .5rem;
    margin-bottom: 2rem;
  }
}

input {
  padding: .2rem;
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem 2rem;
  margin-bottom: 2rem;
  &-group {
    font-size: .9rem;
    display: flex;
    flex-direction: column;
    gap: .2rem;
    &--submit {
      grid-column: 1/-1;
      display: grid;
      grid-auto-flow: column;
      width: -moz-fit-content;
      width: fit-content;
    }
  }
  @media(min-width: 575px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media(min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }
}